*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/Fondo-azul.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 86px;
    margin: auto;
    margin-top: 179px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    left: 0; /* Añade esta línea para establecer la posición inicial */
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.caja__trasera{
    width: 100%;
    padding: 26px 10px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -40px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

.contenedor-formulario {
    display: flex;
    flex-direction: row; /* Alinear los elementos en fila */
    justify-content: space-between; /* Espacio entre los elementos */
}

.cuadro-al-lado {
    width: 30%; /* Ajusta el ancho según sea necesario */
    max-width: 294px; /* Máximo ancho para pantallas grandes */
    padding: 33px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    margin-left: auto;
    margin-right: -20px; /* Ajusta el margen derecho según sea necesario */
    margin-top: -502px; /* Ajusta el margen superior según sea necesario */
    display: none; /* Oculta inicialmente el cuadro */
}


/* Añade una media query para ajustar el margen si la pantalla es más grande */
@media (min-width: 1449px) and (max-width: 1595px) {
    .contenedor__todo {
        left: -15%; /* Ajusta este valor según sea necesario */
    }
}


/* Media query para pantallas pequeñas */
@media screen and (max-width: 1449px) {
    main {
        margin-top: -21px; /* Cambiar el valor para pantallas pequeñas */
        
    }
    .contenedor__todo {
        left: -15%; /* Ajusta este valor según sea necesario */
    }
    .cuadro-al-lado {
        margin-top: -429px;
        margin-right: -13px; 
    }

}
@media screen and (max-width: 1849px) {
    .cuadro-al-lado {
        left: -40%; /* Ajusta este valor según sea necesario */
    }

}

